
.nav-link{
    color: black;
    font-size: 14;
    font-family: "Cairo", sans-serif;
    transition: all 0s;
}
.NavTitle {
  margin-bottom: 40px;
  padding: 0px 24px;
}
.NavTitle:hover{
    background-color: #F4F6F9;
}
 .NavTitle:hover .nav-link,img{

    color: #239EC2;
} 
/* .active{
    background-color: #F4F6F9 !important;
 
    color: #239EC2 !important;
} */
.drPic p{
font-size: 18px;
margin-top: 20px;
font-family: "Cairo", sans-serif;
color: #239EC2;
}
.drPic span{
    color: black;
}
/* For the toggle button */
.navbar-toggle {
    display: none;
    background-color: #239EC2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Show toggle button on small screens */
  @media (max-width: 800px) {
    .navbar-toggle {
      display: block;
      margin-bottom: 20px;
    }
  
    .sideNavbar {
      position: fixed;
      right: -100%;
      top: 0;
      width: 200px;
      height: 100%;
      background-color: white;
      z-index: 999;
      transition: 0.3s ease;
    }
  
    .sideNavbar.open {
      right: -13px;
    }
  
    .NavTitle {
      padding: 10px 15px;
    }
  
    .drPic {
      display: none;
    }
  }
  