.files input {
    outline: 2px dashed #868686;
width: 501px;
height: 150px;
    text-align: center !important;
    margin: 0;
    border-radius: 18px;
    width: 100% !important;
}

.files{ position:relative}
.files:after {  pointer-events: none;

}
.color input{ background-color:#f1f1f1;}
.fileUpload {
    position: absolute;
    bottom: 2px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: "  ";
    display: block;
    margin: 0 auto;
    font-family: "Cairo", sans-serif;
    color: #868686;
    font-size: 18px;
    text-align: center;
}
.form-group .upload{
    position: absolute;
    top: 40px;
    left: 0;  
    pointer-events: none;
    right: 0;
    content: "  ";
    display: block;
    margin: 0 auto;
    text-align: center;
}
.fileUpload span{
   color: #239EC2 ; 
}
.settingForm input,select{
border-radius: 18px !important;
background-color: #F8F8F8 !important;
border: none !important;
margin-bottom: 24px;
}
.settingForm label
{
    font-family: "Cairo", sans-serif;
    margin-bottom: 24px;
    color: #868686;
}
.setting .nav-item a {
    color: #868686  !important;
}
.active{
    color: #239EC2 !important ; 
    border-bottom: 1px #D9D9D9 solid;
}

.setting {
    padding: 0px;
}
.table-bordered{

width: 50%;
text-align: center;
border: 1px solid #239EC2 !important;
}
.form-label{
    color: #868686;
    font-family: "Cairo", sans-serif;
    font-size: 18px;

}
textarea{
    background-color:#f1f1f1 !important;
    border: none !important;
}
.AddQuestions input {
    background-color:#f1f1f1 !important;
    border: none !important;
}
.settingNav a{
    margin-left: 15px;
}
.form-group .addUpload{
    position: absolute;
    top: 80px;
    left: 0;  
    pointer-events: none;
    right: 0;
    content: "  ";
    display: block;
    margin: 0 auto;
    text-align: center;
}
.custom-select {
    position: relative;
    font-family: "Cairo", sans-serif;
  }
  

  .arrow-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-50%);
  }
  
  .arrow-icon svg {
    color: #555; /* Change color as needed */
  }
  