


html {
    scroll-behavior: smooth;
  }
  

.col {
    /* padding: 20px; */
    background-color: #F4F6F9;

  }

.tableTitle {
    margin-bottom: 20px;
}

.icons{
    cursor: pointer;
}
.modal-header{
    flex-direction: column;
     font-size: 30px;
     color: #239EC2;
     font-family: "Cairo", sans-serif;
     font-weight: bold;
}
.activeIcon{
    color: green;
}
.inactive{
    color: gray;
}
.AddServicesButton button {
    width: 170px;
    height: 40px;
    background-color: #239EC2;
    font-family: "Cairo", sans-serif;
    border-radius: 18px;
    border: none;
    margin-left: 50px;
    color:white;
}
.AddServicesButton button img {
    width: 17px;


}
.LoginContent{
    padding: 0px 130px;
}
.LoginContent h1 {
   color: #239EC2;
    font-size: 64px;
    font-family: "Cairo", sans-serif;
}
.LoginContent p {
   font-size:24px ; 
   color: #646466;
   margin-top: 20px;
   font-family: "Cairo", sans-serif;
}
.leftSide{
    height: 100vh;
    background-color: #F4F6F9;
}
.AddUserArrow-icon {
    position: absolute;
    top: 45%;
    left: 232px;
    transform: translateY(-50%);
}
.ReservationArrow-icon{
    position: absolute;
    top: 32%;
    left: 299px;
    transform: translateY(-50%);
    color: #239EC2;
}
.modal{
    --bs-modal-width: 680px !important;
    /* --bs-modal-padding: 4rem !important; */
    --bs-modal-footer-border-color:none !important;
}
.modal-backdrop{
    --bs-backdrop-bg: #f4f4f4 !important;
}

.modal-footer{
    padding: 40px 20px !important;
}
.reservationSelect {
    width: 23rem;
    font-family: "Cairo", sans-serif;
    padding: 0px 29px;
    height: 3rem;
    padding-right: 53px;
    position: relative;
}
.Calender {
    position: absolute;
    right: 38px;
    bottom: 53px;
}
.LotalyProgram img {
    transform: translate(0px, 50px);
}
.logout a{
    font-family: "Cairo", sans-serif;
}
a{
    text-decoration: none !important;
}
.editbutton{
    border: none !important;
    background-color: transparent;
}
.img-thumbnail {
    border: none;
}
.addtional{
    color: aqua;
}
/* General button styles */
button {
    font-size: 14px;

    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Save button specific styling */
  .save-btn {
    background-color: #299ecc;
    padding: 8px 16px;
    color: white;
    margin:0px  10px;
  }
  
  .save-btn:hover {
    background-color: #85bfc9;
    transform: scale(1.05);
  }
  
  .save-btn:active {
    transform: scale(0.95);
  }
  
  /* Cancel button specific styling */
  .cancel-btn {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
  }
  
  .cancel-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  
  .cancel-btn:active {
    transform: scale(0.95);
  }
  .fixed-icon {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Ensures the aspect ratio is maintained */
  }
  