@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
body {

    font-family: "Cairo", sans-serif;
    direction: rtl;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}